<!DOCTYPE html>
<html>
    <body>
        <div ng-app="myApp" ng-controller="customersCtrl">
        <form id="checkout" method="post" action="/checkout">
              <div id="dropin"></div>
                <input type="submit" value="Pay $16">
            </form>

            <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
            
            <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>

            <script>
                var app = angular.module('myApp', []);
                app.controller('customersCtrl', function($scope, $http) {
                    $http.get("https://713d2682.ngrok.com/client_token")
                        .then(function (token) {
                        braintree.setup(
                        token.data,'dropin', {
                            container: 'dropin'
                        });
                    });
                });
            </script>
         </div>
    </body>
</html>

