<!DOCTYPE html>
<html>
<head>
  <title>Leftover...</title>

  <!--CSS Libraries-->

  <link rel="stylesheet" type="text/css" href="../public/Stylesheets/welcome.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


</head>
<body>

<!-- THE HEADER STUFF -->

  <div id="thetop" class="headerstuff">

  <!--Sticky Navbar stuffs-->
  <nav id="navbar">

    <div id="thenav" class="container-fluid headerstuff">
      <div class="row">
            
        <!--THE LOGO-->

        <div id="logo" class="headerstuff col-md-4 ">
          <div id="lpbox">
            <h1 id="logophrase" >Leftover...</h1>
          </div>

          <div id="tagbox">
            <p id="tagline">Reducing waste...</p>
          </div>
        </div>

        <!--THE NON LOGGED IN PAGES-->

        <div id="notthelogin" class="headerstuff col-md-4">
          <div >

          </div>

        </div>

        <!--THE LOGOUT BUTTON -->

        <div id="logout" class="headerstuff col-md-4" >
          <form class="navbar-form">
          	<button id="logoutbutton" onclick="javascript:location.href='index.html'" class="btn btn-default">Logout</button>
          </form>
        </div>            
            
      </div>
    </div>

  </nav>

  </div>

  <!-- THE CHECKOUT PAGE -->

  <div id="aboutpage" class="container-fluid page">


    <div class="row">
    <div class="checkouttext">

      <div class="col-md-6 content about">

        <div id="checkouttitle" >
          <p class="text_head" >CONGRATULATIONS!</p>
        </div>

        <p> 
          You just bought something!
        </p>

        <button id="gobackbutton" onclick="javascript:location.href='index.html#users'" class="btn btn-default">Go back</button>

      </div>

      <div class="col-md-6 about">

        <img src="#" >

      </div>

    </div>
    </div>

  </div>

<!--Javscript Libraries-->
  <script src="../public/Scripts/welcome.js"></script>

  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>