<!DOCTYPE html>
<html>
<head>
  <title>Leftover...</title>

  <!--CSS Libraries-->

  <link rel="stylesheet" type="text/css" href="../public/Stylesheets/welcome.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


</head>
<body>

<!-- THE HEADER STUFF -->

  <div id="thetop" class="headerstuff">

  <!--Sticky Navbar stuffs-->
  <nav id="navbar">

    <div id="thenav" class="container-fluid headerstuff">
      <div class="row">
            
        <!--THE LOGO-->

        <div id="logo" class="headerstuff col-md-4 ">
          <div id="lpbox">
            <h1 id="logophrase" >Leftover...</h1>
          </div>

        </div>

        <!--THE NON LOGGED IN PAGES-->

        <div id="notthelogin" class="headerstuff col-md-4">
          <div class="row">
            <span>            
              <button onclick="jumpto('aboutpage');" type="button" class="menutitle col-md-3 btn btn-lg tn-info">About</button>
            </span>

            <span>            
              <button onclick="jumpto('users');" type="button" class="menutitle col-md-3 btn btn-lg btn-info">Users</button>         
            </span>

            <span>            
              <button onclick="jumpto('retailers');" type="button" class="menutitle col-md-3 btn btn-lg btn-info">Retailers</button>         
            </span>
            
            <span>        
              <button onclick="jumpto('TCs');" type="button" class="menutitle col-md-3 btn btn-lg btn-info">
              <p>Terms and</p>
              <p> Conditions</p>
              </button>         
            </span>
          </div>

        </div>

        <!--THE LOGOUT FORM -->

        <div id="logout" class="headerstuff col-md-4" >
          <form class="navbar-form">
          <button id="logoutbutton" onclick="javascript:location.href='index.html'" class="menutitle btn btn-lg btn-danger">Logout</button>
          </form>
        </div>            
            
      </div>
    </div>

  </nav>

  </div>

<div id="mainpages">

  <!-- THE ABOUT PAGE -->

  <div id="aboutpage" class="container-fluid page">


    <div class="row">
    <div class="abouttext">

      <div class="col-md-6 content about">

        <div id="aboutustitle" >
          <p class="text_head" >ABOUT US</p>
        </div>

        <p> 
          Reducing waste by allowing local businesses to give away products reduced to clear at the end of the day by alerting nearby customers of the products so they can buy them and they don't go to landfill.
        </p>
        <p>
          Dance right there you're not sorry 2 a.m. breathe rhode island. Shine two a.m. music The Voice banana quinoa. Muffin Hailee Steinfeld games vote for Taylor so. Basically too late how it ought to be mean streak Emma. Stone high heel girl in the dress car. Marry not a princess history. 13 Management caught onto somehting cheer captain tea. Party thirteen available at Target cursing. Your name never ever getting back together head first.
        </p>

      </div>

      <div class="col-md-6 about">

      </div>

    </div>
    </div>

  </div>



  <!-- THE USERS PAGE -->

  <div id="users" class="page">

    <div class="content">

      <div id="filters" class="container-fluid">

          <div class="row">
          <form class="navbar-form" role="search">

            <div class="form-group col-md-3">
              <input id="tags" type="text" class="form-control" placeholder="Type Of Product">
            </div>

            <div class="form-group col-md-3">
              <label>Distance</label>
              <input id="radiusfilter" type="number" name="quantity" min="0.1" max="30" class="form-control">
              <span> Miles </span>
            </div>

            <div class="form-group col-md-3">
              <label>Price Range  </label>
              <span>GBP </span>
              <input id="pricefilter" type="number" name="quantity" min="0" max="100" class="form-control">
            </div>

            <button id="filterbutton"type="submit" class="btn btn-default btn-lg" onclick="#">Filter</button>

          </form>
          </div>

      </div>

      <div id="availproductsview" class="ProductDisplay">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div id="item1" class="item active container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <div class="row">
                    <img src="images/p1.jpeg" class="col-md-12">
                  </div>
                </div>

                <div class="col-md-4">
                  <div>
                    <p class="text_head">Description</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  </div>
                  <div class="row">

                    <div class="col-md-6 userprice">
                      <span>PRICE GBP</span><span></span>
                    </div>

                    <div class="col-md-6">
                        <form class="navbar-form">
                          <button onclick="buying('item1');" class="btn btn-default buybutton">BUY</button>
                        </form>                      
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <img usemap="#" >
                </div>

              </div>
            </div>

            <div id="item2" class="item container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <div class="row">
                    <img src="images/p2.JPEG" class="col-md-12">
                  </div>
                </div>

                <div class="col-md-4">
                  <div>
                    <p class="text_head">Description</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  </div>
                  <div class="row">

                    <div class="col-md-6 userprice">
                      <span>GBP</span><span></span>
                    </div>

                    <div class="col-md-6">
                        <form class="navbar-form">
                          <button onclick="buying('item2');"  class="btn btn-default buybutton">BUY</button>
                        </form>                      
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <img usemap="" ="#" >
                </div>
                
              </div>
            </div>

            <div id="item3" class="item container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <div class="row">
                    <img src="images/Products/p2.jpeg" class="col-md-12">
                  </div>
                </div>

                <div class="col-md-4">
                  <div>
                    <p class="text_head">Description</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  </div>
                  <div class="row">

                    <div class="col-md-6 userprice">
                      <span>GBP</span><span></span>
                    </div>

                    <div class="col-md-6">
                        <form class="navbar-form">
                          <button onclick="buying('item3');"  class="btn btn-default buybutton">BUY</button>
                        </form>                      
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <img usemap="#" >
                </div>
                
              </div>
            </div>

            <div id="item4" class="item container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <div class="row">
                    <img src="images/Products/p2.jpeg" class="col-md-12">
                  </div>
                </div>

                <div class="col-md-4">
                  <div>
                    <p class="text_head">Description</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  </div>
                  <div class="row">

                    <div class="col-md-6 userprice">
                      <span>GBP</span><span></span>
                    </div>

                    <div class="col-md-6">
                        <form class="navbar-form">
                          <button onclick="buying('item4');"  class="btn btn-default buybutton">BUY</button>
                        </form>                      
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <img usemap="#" >
                </div>   

              </div>
            </div>

          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>

    </div>

  </div>

  <!-- THE RETAILERS PAGE -->

  <div id="retailers" class="container-fluid page">

    <div class="content">

      <form>

        <div class="form-group">
          <label>Tags</label>
          <input class="form-control" id="taginput" placeholder="Add Tags">
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" id="descriptioninput" placeholder="Add description">
        </div>

        <div class="form-group">Photo</label>
          <input type="file" id="exampleInputFile">
          <p>Example block-level help text here.</p>
        </div>

        <div class="form-group">
          <label>Location</label>
          <input class="form-control" id="locationinput" placeholder="Location">
        </div>

        <div class="form-group">
          <label>Expiry Time</label>
          <input class="form-control" id="timeinput" type="datetime-local" placeholder="Time">
        </div>

        <div class="form-group">
          <label>Required/Minimum Payment</label>
          <input class="form-control" id="payinput" placeholder="£££">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

  </div>

  <!-- TERMS & CONDITIONS -->

  <div id="TCs" class="container-fluid page">

    <div id="TCtext" class="row">
    <div class ="col-md-12">
    <div class="content">

      <div id="TCtitle" >
        <p class="text_head" >TERMS AND CONDITIONS</p>
      </div>

      <div>
        <ol>
          
        <li>You shouldn't bother reading the Terms and Conditions properly, I mean who actually does that?</li>
        <li>Something something small print...</li>
        <li>Mumble mumble security and privacy issues mumble mumble</li>
        <li>Cristiano!</li>

        </ol>
      </div>

    </div>
    </div>
    </div>

  </div>

</div>


<!--Javscript Libraries-->
  <script src="../public/Scripts/welcome.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>
