<!DOCTYPE html>
<html>
<head>
  <title>Leftover...</title>

  <!--CSS Libraries-->

  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/welcome.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


</head>
<body>

<!-- THE HEADER STUFF -->

<div id="thetop" >

<!--Sticky Navbar stuffs-->
  <div id="thenav">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <!--THE LOGO-->

            <div id="logo" class="col-md-4">
              <div id="lpbox">
                <h1 id="logophrase" >Leftover...</h1>
              </div>

              <div id="tagbox">
                <p id="tagline">Reducing waste...</p>
              </div>
            </div>

            <!--THE NON LOGGED IN PAGES-->

            <div id="notthelogin" class="col-md-4">

              <li >             
                <a href="#" role="button" >About</a>
              </li>

              <li >             
                <a href="#" role="button" >Users</a>          
              </li>

              <li >             
                <a href="#" role="button" >Retailers</a>          
              </li>
            
              <li >         
                <a href="#" role="button" >Terms and Conditions</a>          
              </li>

            </div>

            <!--THE LOGOUT BUTTON -->

            <div id="login" class="col-md-4" style="position: absolute;right:0px;top:0">
              <form class="navbar-form" role="search">

              <button id="loginbutton"type="submit" class="btn btn-default">Login</button>

              </form>
            </div>            

          </ul>
        </div>
        
      </div>
    </nav>
  </div>

</div>

<!-- THE ABOUT PAGE -->

<div id="about" >


  <div id="abouttext" >

    <div id=aboutustitle >
      <p class="text_head" >ABOUT US</p>
    </div>

    <div>
      <p> 
        Reducing waste by allowing local businesses to give away products reduced to clear at the end of the day by alerting nearby customers of the products so they can buy them and they don't go to landfill.
      </p>
    </div>

  </div>

  <div>

    <img src="#" >

  </div>

</div>


<!-- THE USERS PAGE -->

<div id="users">



</div>

<!-- THE RETAILERS PAGE -->

<div id="retailers">



</div>

<!-- TERMS & CONDITIONS -->

<div id="TCs">

  <div id="TCtext" >

    <div id=TCtitle >
      <p class="text_head" >TERMS AND CONDITIONS</p>
    </div>

    <div>
      <ol>
        
      <li>You shouldn't bother reading the Terms and Conditions properly, I mean who actually does that?</li>
      <li>Something something small print...</li>
      <li>Mumble mumble security and privacy issues mumble mumble</li>
      <li>Cristiano!</li>

      </ol>
    </div>

  </div>

</div>

<!--Javscript Libraries-->
  <script src="../../assets/javascripts/welcome.js"></script>

  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>