

body {
	//background-image: url("#");
}

* {
	font-family: 'Oswald', sans-serif;

}

.page {
	height:100vh;
	border-bottom-color: #2e2e2e;
}

.abouttext {
	top: 400px;
	height: 100vh;

}
.content {
	top:150px;
	min-height:200px;
}

.about {
	height:200px;
}

//Header stuffs

.navbar {
	position: fixed;
	height: 200px;
}

nav {
	background: #2e2e2e
}

#thetop {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;

}

.ProductDisplay {
	height: 50vh;
}

.carousel {
	height: 50vh;
}

// Logo stuff

#logo {
	position: absolute;
	min-height: 200px;
	left: 375px;
	//top: 0px;
		
}

#lpbox {
	position: absolute;
	//bottom: 20px;
	//z-index: 0;
	left: 0px;
}

#tagbox {
	position: absolute;
	//bottom: 0px;
	//z-index: 1;
	width: 300px;
	left: 30px;
}

#logophrase {
	font-family: 'Indie Flower', cursive;
	font-size: 5vw;
	color: #4C1A00;
}

#tagline {
	font-size: 40px;
	width: 300px;

}

// The pages
.menutitle {
	font-size: 100px;
}

#notthelogin {

}

//login form at the top of the page

#login {

	position: absolute;
	right:0px;
	top:0
	z-index: 1;
}

#emailogin {
	position: absolute;
	bottom: 110px;
	width: 200px;
	height: 30px;
;
}

#passwordlogin {
	position: absolute;
	bottom: 70px;
	width: 200px;
	height: 30px;

}

#loginbutton {
	position: absolute;
	bottom: 30px;
	height: 30px;


}


//the about page stuffs


#aboutustitle {
	z-index: 1;
}


//Sign Up Form

#signup {

	//background:url('#') 50% 0 no-repeat fixed;
	background-size: cover;
	height: 100vh;
	margin: 0 auto;
    overflow: hidden;
    padding: 200px 50px;


}

#signupforms {
	//padding: 50px;
}



#firstname {
	
}

#surname {
	
}

#emailsignup {
	

}

#passwordsignup {
	
}

#passwordconfirm {
	
}


#signupbtn {
	
}

//Terms and Conditions


#TCs {
	//background-image: url("#");
	//ackground:url('#') 50% 0 no-repeat fixed;
	//background-size: cover;
	margin: 0 auto;
    padding: 200px 50px;
}

#TCtext {
	border-radius: 10px;
	margin-left: 40px;
	padding: 10px; 

}


//CLASSES!!!

.text_head {
	font-size: 2vw;
}

.form-group {
	height: 30px;
	width: 200px;
	//z-index: -1;
}

.smallprint {
	color: red;
}

.headerstuff {
	//min-height:150px;
	//bottom:0px;
}

#userprice {
	font-size: 30px;
}

.buybutton {
	height: 50px;
	width: 100px;
}

#filters {
	width:100%;
	margin: 50px;
}